<div class="modal fade" id="modal_deposit" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('dashboard.index.entrust') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="las la-times"></i>
        </button>
      </div>
      <form id="form_deposit">
        <div class="modal-body">
          <div class="form-group">
            <label><%= t('dashboard.index.choose_asset') %></label>
            <select id="modal_deposit_asset_type" class="form-control" onchange="on_deposit_asset_change()">
              <option value="usdt">USDT</option>
              <option value="cigar">CIC</option>
            </select>
          </div>
          <div class="form-group">
            <label><%= t('dashboard.index.amount') %></label>
            <input id="modal_deposit_amount" type="number" class="form-control" placeholder="0.00" min="0.000001" step="0.000001" required>
            <span class="font-12 text-muted m-t-5"><%= t('dashboard.index.current_balance') %></span>
            <span id="modal_deposit_balance" class="font-12 text-muted float-right m-t-5">-</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-block btn-rounded ladda-button" data-style="zoom-in"><%= t('tips.confirm') %></button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_withdraw" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('dashboard.index.withdraw') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="las la-times"></i>
        </button>
      </div>
      <form id="form_withdraw">
        <div class="modal-body">
          <div class="form-group">
            <label><%= t('dashboard.index.choose_asset') %></label>
            <select id="modal_withdraw_asset" class="form-control" required onchange="on_withdraw_asset_change()">
              <option value="usdt">USDT</option>
              <option value="cigar">CIC</option>
            </select>
          </div>
          <div class="form-group">
            <label><%= t('dashboard.index.amount') %></label>
            <div class="input-group">
              <input id="modal_withdraw_amount" type="number" class="form-control" placeholder="0.00" step="0.000001" min="0.000001" required>
              <div class="input-group-append">
                <span id="modal_withdraw_symbol" class="input-group-text">USDT</span>
              </div>
            </div>
            <span class="font-12 text-muted m-t-5"><%= t('dashboard.index.withdraw_available') %></span>
            <span id="modal_withdraw_balance" class="font-12 text-muted float-right m-t-5">- USDT</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-block btn-rounded ladda-button" data-style="zoom-in"><%= t('tips.submit') %></button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="modal_transfer" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('dashboard.index.transfer') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="las la-times"></i>
        </button>
      </div>
      <form id="form_transfer">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <div class="modal-body">
          <div class="form-group">
            <label><%= t('dashboard.index.choose_asset') %></label>
            <select name="transfer[asset_type]" class="form-control" required onchange="on_transfer_asset_change()">
              <option value="usdt">USDT</option>
              <option value="cigar">CIC</option>
            </select>
          </div>
          <div class="form-group">
            <label><%= t('dashboard.index.transfer_from') %></label>
            <select name="transfer[from]" class="form-control" required onchange="on_transfer_from_change()">
              <option value="packet"><%= t('utils.accounts.packet') %></option>
              <option value="wallet"><%= t('utils.accounts.wallet') %></option>
            </select>
          </div>
          <div class="form-group">
            <label><%= t('dashboard.index.transfer_to') %></label>
            <input name="transfer[to]" type="text" class="form-control" value="<%= t('utils.accounts.wallet') %>" disabled>
          </div>
          <div class="form-group">
            <label><%= t('dashboard.index.amount') %></label>
            <div class="input-group">
              <input name="transfer[amount]" type="number" class="form-control" placeholder="0.00" min="0.000001" step="0.000001" required>
              <div class="input-group-append">
                <span id="modal_transfer_symbol" class="input-group-text">USDT</span>
              </div>
            </div>
            <span class="font-12 text-muted m-t-5"><%= t('dashboard.index.balance_of_transfer_from') %></span>
            <span id="modal_transfer_balance" class="font-12 text-muted float-right m-t-5">- USDT</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-block btn-rounded ladda-button" data-style="zoom-in"><%= t('tips.confirm') %></button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
    function show_deposit_modal() {
        $('#form_deposit')[0].reset();
        $('#modal_deposit').modal('show');
        on_deposit_asset_change();
    }

    function show_withdraw_modal() {
        $('#form_withdraw')[0].reset();
        on_withdraw_asset_change();
        $('#modal_withdraw').modal('show');
    }

    function show_transfer_modal() {
        $('#form_transfer')[0].reset();
        on_transfer_asset_change();
        $('#modal_transfer').modal('show');
    }

    function on_deposit_asset_change() {
        let asset = $('#modal_deposit_asset_type').val();
        if (asset === 'usdt') {
            contract_usdt.methods.balanceOf(address).call().then(function (result) {
                $('#modal_deposit_balance').text(Contracts.usdt.to_display_amount(result) + ' USDT');
            }).catch(function (err) {
                swal('<%= t('errors.error') %>', err, 'error');
            });
        } else {
            contract_cic.methods.balanceOf(address).call().then(function (result) {
                $('#modal_deposit_balance').text(Contracts.cic.to_display_amount(result) + ' CIC');
            }).catch(function (err) {
                console.log(err);
                swal('<%= t('errors.error') %>', err, 'error');
            });
        }
    }

    function on_withdraw_asset_change() {
        let asset = $('#modal_withdraw_asset').val();
        if (asset === 'usdt') {
            $('#modal_withdraw_symbol').text('USDT');
            $('#modal_withdraw_balance').text('- USDT');
            contract_game.methods.quoteBalanceOf(address).call().then(function (result) {
                let display_amount = Contracts.usdt.to_display_amount(result)
                $('#modal_withdraw_balance').text(display_amount + ' USDT');
                $('#modal_withdraw_amount').attr('max', display_amount);
            });
        } else {
            $('#modal_withdraw_symbol').text('CIC');
            $('#modal_withdraw_balance').text('- CIC');
            contract_game.methods.peerBalanceOf(address).call().then(function (result) {
                let display_amount = Contracts.cic.to_display_amount(result)
                $('#modal_withdraw_balance').text(display_amount + ' CIC');
                $('#modal_withdraw_amount').attr('max', display_amount);
            });
        }
    }

    function on_transfer_asset_change() {
        on_transfer_from_change();
    }

    function on_transfer_from_change() {
        let asset = $('#form_transfer select[name="transfer[asset_type]"]').val();
        let from = $('#form_transfer select[name="transfer[from]"]').val();
        if (from === 'packet') {
            $('#form_transfer input[name="transfer[to]"]').val('<%= t('utils.accounts.wallet') %>');
            if (asset === 'usdt') {
                $('#form_transfer input[name="transfer[amount]"]').attr('max', my_info.packet_usdt_available);
                $('#modal_transfer_balance').text(my_info.packet_usdt_available_display + ' USDT');
                $('#modal_transfer_symbol').text('USDT');
            } else {
                $('#form_transfer input[name="transfer[amount]"]').attr('max', my_info.candy_available);
                $('#modal_transfer_balance').text(my_info.candy_available + ' CIC');
                $('#modal_transfer_symbol').text('CIC');
            }
        } else {
            $('#form_transfer input[name="transfer[to]"]').val('<%= t('utils.accounts.packet') %>');
            if (asset === 'usdt') {
                contract_game.methods.quoteBalanceOf(address).call().then(function (result) {
                    let amount = Contracts.usdt.to_display_amount(result);
                    $('#form_transfer input[name="transfer[amount]"]').attr('max', amount);
                    $('#modal_transfer_balance').text(amount + ' USDT');
                    $('#modal_transfer_symbol').text('USDT');
                });
            } else {
                contract_game.methods.peerBalanceOf(address).call().then(function (result) {
                    let amount = Contracts.cic.to_display_amount(result);
                    $('#form_transfer input[name="transfer[amount]"]').attr('max', amount);
                    $('#modal_transfer_balance').text(amount + ' CIC');
                    $('#modal_transfer_symbol').text('CIC');
                });
            }
        }
    }

    $(function () {
        $('#form_deposit').submit(function () {
            let l = $('#form_deposit button[type="submit"]').ladda();
            l.ladda('start');
            let amount = $('#modal_deposit_amount').val().trim(), asset_type = $('#modal_deposit_asset_type').val();
            if (asset_type === 'usdt')
                contract_usdt.methods.transfer(Contracts.game.address, Contracts.usdt.to_real_amount(amount)).send({from: address})
                    .then(function (result) {
                        l.ladda('stop');
                        $('#modal_deposit').modal('hide');
                        swal('<%= t('tips.success') %>', '<%= t('dashboard.index.entrust_successfully') %>', 'success');
                    }).catch(function (err) {
                        l.ladda('stop');
                        swal('<%= t('errors.error') %>', err.message, 'error');
                    }
                );
            else
                contract_cic.methods.transfer(Contracts.game.address, Contracts.cic.to_real_amount(amount)).send({from: address})
                    .then(function (result) {
                        l.ladda('stop');
                        $('#modal_deposit').modal('hide');
                        swal('<%= t('tips.success') %>', '<%= t('dashboard.index.entrust_successfully') %>', 'success');
                    }).catch(function (err) {
                        l.ladda('stop');
                        swal('<%= t('errors.error') %>', err.message, 'error');
                    }
                );

            return false;
        });

        $('#form_withdraw').submit(function () {
            $('#modal_withdraw').modal('hide');
            let asset_type = $('#modal_withdraw_asset').val(), amount = $('#modal_withdraw_amount').val().trim();
            if (asset_type === 'usdt')
                contract_game.methods.withdrawQuote(address, Contracts.usdt.to_real_amount((amount))).send({from: address}).then(function () {
                }).catch(function (err) {
                    swal('<%= t('errors.error') %>', err.message, 'error');
                });
            else
                contract_game.methods.withdrawPeer(address, Contracts.cic.to_real_amount((amount))).send({from: address}).then(function () {
                }).catch(function (err) {
                    swal('<%= t('errors.error') %>', err.message, 'error');
                });

            return false;
        });

        $('#form_transfer').submit(function () {
            let l = $('#form_transfer button[type="submit"]').ladda();
            l.ladda('start');
            let asset = $('#form_transfer select[name="transfer[asset_type]"]').val(),
                from = $('#form_transfer select[name="transfer[from]"]').val(),
                amount = $('#form_transfer input[name="transfer[amount]"]').val().trim();
            if (from === 'wallet') {
                if (asset === 'usdt') {
                    try {
                        contract_game.methods.depositQuoteForUser(Contracts.usdt.to_real_amount(amount)).send({from: address}).then(function (result) {
                            l.ladda('stop');
                            $('#modal_transfer').modal('hide');
                            swal('<%= t('tips.success') %>', '<%= t('dashboard.index.transfer_successfully') %>', 'success');
                        }).catch(function (err) {
                            l.ladda('stop');
                            swal('<%= t('errors.error') %>', err.message, 'error');
                        });
                    } catch (e) {
                        console.log(e);
                    }
                } else {
                    contract_game.methods.depositPeerForUser(Contracts.cic.to_real_amount(amount)).send({from: address}).then(function (result) {
                        l.ladda('stop');
                        $('#modal_transfer').modal('hide');
                        swal('<%= t('tips.success') %>', '<%= t('dashboard.index.transfer_successfully') %>', 'success');
                    }).catch(function (err) {
                        l.ladda('stop');
                        swal('<%= t('errors.error') %>', err.message, 'error');
                    });
                }
            } else {
                Business.submit_form('/transfers/create', 'form_transfer',
                    function () {
                        l.ladda('stop');
                        $('#modal_transfer').modal('hide');
                        swal('<%= t('tips.success') %>', '<%= t('dashboard.index.transfer_successfully') %>', 'success');
                        location.reload();
                    }, function (err) {
                        l.ladda('stop');
                        swal('<%= t('errors.error') %>', err.msg, 'error');
                    }
                );
            }

            return false;
        });
    });
</script>