<div class="row">
  <div class="col-12 text-center bg-primary" style="position: fixed;z-index: 200;">
    <span class="m-15 font-16 font-weight-bold"><%= t('dashboard.titles.assets') %></span>
  </div>
  <div class="col-12" style="height: 50px;"></div>
</div>
<div class="row">
  <div class="col-12 bg-primary p-t-10">
    <span class="m-10 text-white font-17"><%= t('dashboard.index.total_assets_estimated') %></span>
    <span class="pull-right m-10 font-13"><span class="font-19" id="assets_estimated_to_usdt">-</span> USDT</span>
  </div>
</div>
<div class="row bg-primary">
  <div class="col-4 p-10 text-center">
    <button type="button" class="btn btn-soft-warning btn-rounded" onclick="show_deposit_modal()"><%= t('dashboard.index.entrust') %></button>
  </div>
  <div class="col-4 p-10 text-center">
    <button type="button" class="btn btn-soft-warning btn-rounded" onclick="show_withdraw_modal()"><%= t('dashboard.index.withdraw') %></button>
  </div>
  <div class="col-4 p-10 text-center">
    <button type="button" class="btn btn-soft-warning btn-rounded" onclick="show_transfer_modal()"><%= t('dashboard.index.transfer') %></button>
  </div>
</div>

<div class="table-responsive">
  <table class="table mb-0">
    <thead>
    <tr>
      <th><%= t('dashboard.index.account') %></th>
      <th><%= t('dashboard.index.asset') %></th>
      <th><%= t('dashboard.index.balance') %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr onclick="location.href='/asset_flows/index?account_type=wallet&asset_type=usdt'">
      <td><%= t('utils.accounts.wallet') %></td>
      <td>USDT</td>
      <td id="assets_wallet_usdt">-</td>
      <td class="text-right"><i class="la la-angle-right"></i></td>
    </tr>
    <tr onclick="location.href='/asset_flows/index?account_type=wallet&asset_type=cigar'">
      <td><%= t('utils.accounts.wallet') %></td>
      <td>BOMB</td>
      <td id="assets_wallet_cic">-</td>
      <td class="text-right"><i class="la la-angle-right"></i></td>
    </tr>
    <tr onclick="location.href='/asset_flows/index?account_type=packet&asset_type=usdt'">
      <td><%= t('utils.accounts.packet') %></td>
      <td>USDT</td>
      <td id="assets_packet_usdt">-</td>
      <td class="text-right"><i class="la la-angle-right"></i></td>
    </tr>
    <tr onclick="location.href='/asset_flows/index?account_type=packet&asset_type=cigar'">
      <td><%= t('utils.accounts.packet') %></td>
      <td>BOMB</td>
      <td id="assets_packet_cic">-</td>
      <td class="text-right"><i class="la la-angle-right"></i></td>
    </tr>
    </tbody>
  </table>
</div>

<script>
    let packet_estimate_to, quote_estimate_to, peer_estimate_to, cic_usdt_price;

    function set_assets_estimated_to() {
        $('#assets_estimated_to_usdt').text(
            (parseFloat(packet_estimate_to) + parseFloat(quote_estimate_to) + parseFloat(peer_estimate_to) * cic_usdt_price).toFixed(6)
        );
    }

    function load_assets_data() {
        packet_estimate_to = undefined;
        quote_estimate_to = undefined;
        peer_estimate_to = undefined;

        get_my_info(function (data) {
            cic_usdt_price = parseFloat(data.cigar_usdt_price);
            packet_estimate_to = data.estimate_to_usdt;
            $('#assets_packet_usdt').text(data.packet_usdt_display);
            $('#assets_packet_cic').text(data.candy_display);

            contract_game.methods.quoteBalanceOf(address).call().then(function (result) {
                quote_estimate_to = Contracts.usdt.to_display_amount(result);
                $('#assets_wallet_usdt').text(quote_estimate_to);
                if (peer_estimate_to)
                    set_assets_estimated_to();
            });
            contract_game.methods.peerBalanceOf(address).call().then(function (result) {
                peer_estimate_to = Contracts.cic.to_display_amount(result);
                $('#assets_wallet_cic').text(peer_estimate_to);
                if (quote_estimate_to)
                    set_assets_estimated_to();
            });
        });
    }
</script>