<div class="row">
  <div class="col-12 text-center bg-primary" style="position: fixed;z-index: 200;">
    <span class="m-15 font-16 font-weight-bold"><%= t('dashboard.titles.friends') %></span>
  </div>
  <div class="col-12" style="height: 50px;"></div>
</div>

<div class="card bg-gradient-dark m-t-15">
  <div class="card-body">
    <h5 class="card-title text-white text-center"><%= t('dashboard.index.my_info') %></h5>
    <div class="row">
      <div class="col-12 text-white">
        <%= t('dashboard.index.my_id') %><span class="float-right"><span id="span_my_id">-</span> <i class="la la-copy"></i></span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-white">
        <%= t('dashboard.index.total_flow') %><span id="span_total_flow" class="float-right">- USDT</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-white">
        <%= t('dashboard.index.invitation_url') %>
      </div>
      <div class="col-12 text-white">
        <span class="float-right"><span id="span_my_url">http://oi1oi2ioi12io3io1u2i3iu1io23ui123</span> <i class="la la-copy"></i></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 layout-spacing">
    <div class="widget widget-chart-one">
      <div class="widget-heading m-10">
        <div>
          <br>
          <h6 class=""><%= t('dashboard.index.friend_list') %></h6>
        </div>
      </div>
      <div class="widget-content m-10">
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: 1XIAT7</span>
          <span class="text-danger font-14 m-l-20">好友: 123</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-12 mb-0 text-muted">0xaedcfd5f96d0df2830066f8fcc4b6743ab61c893</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: 1XIAT7</span>
          <span class="text-danger font-14 m-l-20">好友: 123</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-12 mb-0 text-muted">0xaedcfd5f96d0df2830066f8fcc4b6743ab61c893</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: 1XIAT7</span>
          <span class="text-danger font-14 m-l-20">好友: 123</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-12 mb-0 text-muted">0xaedcfd5f96d0df2830066f8fcc4b6743ab61c893</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: 1XIAT7</span>
          <span class="text-danger font-14 m-l-20">好友: 123</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-12 mb-0 text-muted">0xaedcfd5f96d0df2830066f8fcc4b6743ab61c893</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: 1XIAT7</span>
          <span class="text-danger font-14 m-l-20">好友: 123</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-12 mb-0 text-muted">0xaedcfd5f96d0df2830066f8fcc4b6743ab61c893</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: 1XIAT7</span>
          <span class="text-danger font-14 m-l-20">好友: 123</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-12 mb-0 text-muted">0xaedcfd5f96d0df2830066f8fcc4b6743ab61c893</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: 1XIAT7</span>
          <span class="text-danger font-14 m-l-20">好友: 123</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-12 mb-0 text-muted">0xaedcfd5f96d0d****0066f8fcc4b6743ab61c893</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: 1XIAT7</span>
          <span class="text-danger font-14 m-l-20">好友: 123</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-12 mb-0 text-muted">0xaedcfd5f96d0df2830066f8fcc4b6743ab61c893</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: 1XIAT7</span>
          <span class="text-danger font-14 m-l-20">好友: 123</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-12 mb-0 text-muted">0xaedcfd5f96d0df2830066f8fcc4b6743ab61c893</span>
        </div>
        <div class="mb-2 border-bottom border-light pb-2">
          <span class="text-primary font-15">ID: 1XIAT7</span>
          <span class="text-danger font-14 m-l-20">好友: 123</span>
          <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
          <br>
          <span class="font-12 mb-0 text-muted">0xaedcfd5f96d0df2830066f8fcc4b6743ab61c893</span>
        </div>
        <div class="text-center">
        <span class="text-center text-muted font-12"><i class="la la-arrow-down"></i> 加载更多</span>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

<script>
    function load_friends_data() {
      get_my_info(function (data) {
          $('#span_my_id').text(data.invite_code);
          $('#span_total_flow').text(data.team_usdt_flow_display + ' USDT');
          $('#span_my_url').text(data.invite_url);
      });
    }
</script>