<div class="row">
  <div class="col-12 text-center bg-primary" style="position: fixed;z-index: 200;">
    <span class="p-15 font-16 font-weight-bold"><%= t('dashboard.titles.red_packets') %></span>
  </div>
  <div class="col-12" style="height: 50px;"></div>
  <div class="col-12 bg-danger" style="display: none" onclick="location.href='/notices/index'">
    <span id="span_note" class="font-14 p-t-5 p-b-5"></span>
    <span class="font-14 pull-right p-t-5 p-b-5"><b><i class="las la-angle-right"></i></b></span>
  </div>
</div>
<div class="row">
  <div class="col-12 bg-primary p-t-10">
    <span class="p-10 text-white font-17"><%= t('dashboard.index.my_id') %></span>
    <span id="span_my_id" class="pull-right p-10 font-19">-</span>
  </div>
  <div class="col-12 bg-primary">
    <span class="p-10 text-white font-17"><%= t('dashboard.index.entrusted') %></span>
    <span class="pull-right p-10 font-13"><span class="font-19" id="span_packet_usdt">-</span> USDT</span>
  </div>
</div>
<div class="row bg-primary">
  <div class="col-4 p-10 text-center">
    <button type="button" class="btn btn-soft-warning btn-rounded" style="width: 80%" onclick="show_deposit_modal()"><%= t('dashboard.index.entrust') %></button>
  </div>
  <div class="col-4 p-10 text-center">
    <button type="button" class="btn btn-soft-warning btn-rounded" style="width: 80%" onclick="show_withdraw_modal()"><%= t('dashboard.index.withdraw') %></button>
  </div>
  <div class="col-4 p-10 text-center">
    <button type="button" class="btn btn-soft-warning btn-rounded" style="width: 80%" onclick="show_transfer_modal()"><%= t('dashboard.index.transfer') %></button>
  </div>
</div>

<div id="div_packets">
  <div id="packet_row_0" class="m-t-5 display-flex" style="margin-left: -10px; margin-right: -10px;">
    <div class="text-center m-r-2" style="flex: 1">
      <div class="card" onclick="choose_room_option()">
        <div class="card-header bg-primary text-white text-center">
          <%= t('dashboard.index.encrypted_packet') %>
        </div>
        <div class="card-body bg-warning text-center">
          <span class="font-16"><%= t('dashboard.index.person', number: '?') %></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="layout-spacing" style="margin-left: -5px; margin-right: -5px;">
  <div class="widget widget-chart-one m-b-25">
    <div class="widget-heading m-10">
      <div>
        <br>
        <h6 class="">匹配记录</h6>
      </div>
    </div>
    <div class="widget-content m-10">
      <div class="mb-2 border-bottom border-light pb-2">
        <span class="text-primary font-15">100 USDT/15人</span>
        <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
        <span class="font-12 mb-0 text-muted">我(XIQ912)进入匹配队列</span>
        <a class="float-right text-gray font-12">查看详情 ></a>
      </div>
      <div class="mb-2 border-bottom border-light pb-2">
        <span class="text-primary font-15">100 USDT/15人</span>
        <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
        <span class="font-12 mb-0 text-muted">我(XIQ912)进入匹配队列</span>
        <a class="float-right text-gray font-12">查看详情 ></a>
      </div>
      <div>
        <span class="text-primary font-15">100 USDT/15人</span>
        <span class="float-right text-danger font-12"><i class="las la-clock"></i> 2021-05-05 10:00:12</span>
        <span class="font-12 mb-0 text-muted">我(XIQ912)进入匹配队列</span>
        <a class="float-right text-gray font-12">查看详情 ></a>
      </div>
      <br>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_join_game" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('dashboard.index.join_game') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="las la-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 text-center">
            <span><span class="text-warning font-30" id="span_join_game_usdt">-</span> USDT</span>
          </div>
          <div class="col-12 text-center">
            <%= t('dashboard.index.full_players') %>: <span id="span_join_game_players">-</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn_join_game" type="button" onclick="on_join_game()" data-style="zoom-in" class="btn btn-primary btn-block btn-rounded ladda-button"><%= t('dashboard.index.confirm_joining') %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_joined_game" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">匹配红包</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="las la-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 text-center">
            <span><span class="text-warning font-30">100</span><span class="text-warning">.00</span> USDT</span>
          </div>
          <div class="col-12 text-center">匹配中...</div>
          <div class="col-12 m-t-10">
            <div class="progress br-30">
              <div class="progress-bar br-0 progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: 50%"></div>
            </div>
          </div>
          <div class="col-12 text-center">25/100 人</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block btn-rounded" disabled>拆红包</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_room_option" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">密码红包</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="las la-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-primary btn-block btn-rounded ladda-button" onclick="join_room()" data-style="zoom-in">参与密码红包</button>
          </div>
          <div class="col-12 m-t-20">
            <button type="button" class="btn btn-primary btn-block btn-rounded" onclick="create_room()">创建密码红包</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_join_room" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">参与密码红包</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="las la-times"></i>
        </button>
      </div>
      <form id="form_join_room">
        <div class="modal-body">
          <div class="form-group">
            <label>密码红包房间号</label>
            <input type="text" class="form-control" placeholder="请输入密码红包的房间号" required>
          </div>
          <div class="form-group">
            <label>红包密码</label>
            <input type="text" class="form-control" placeholder="请输入红包的密码" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block btn-rounded ladda-button" data-style="zoom-in">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_create_room" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">创建密码红包</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="las la-times"></i>
        </button>
      </div>
      <form id="form_create_room">
        <div class="modal-body">
          <div class="form-group">
            <label>红包金额</label>
            <select class="form-control" required>
              <option value="1">100.00 USDT</option>
            </select>
          </div>
          <div class="form-group">
            <label>最低红包账户余额</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="0.00" required>
              <div class="input-group-append">
                <span class="input-group-text">USDT</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>踩雷人数</label>
            <input type="number" min="1" class="form-control" placeholder="最小为1，最大为红包参与人数减1" required>
          </div>
          <div class="form-group">
            <label>红包密码</label>
            <input type="text" class="form-control" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block btn-rounded ladda-button" data-style="zoom-in">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
    function get_my_info() {
        Business.get('/users/my_info', {},
            function (data) {
                my_info = data;
                $('#span_my_id').text(data.invite_code);
                $('#span_packet_usdt').text(data.packet_usdt_available_display);
            }
        );
    }

    function get_red_packets() {
        if (red_packets)
            return;
        Business.get('/games/list_all', {}, function (data) {
            red_packets = data;
            for (let i = 0; i < data.length; i++) {
                let row_id = 'packet_row_' + parseInt((i + 1) / 3), item_html;
                if ((i + 1) % 3 === 0) {
                    $('#div_packets').append('<div id="' + row_id + '" class="m-t-5 display-flex" style="margin-left: -10px; margin-right: -10px;">');
                    item_html = '<div class="text-center m-r-2" style="flex: 1">';
                } else if ((i + 1) % 3 === 1)
                    item_html = '<div class="text-center m-l-2 m-r-2" style="flex: 1">';
                else
                    item_html = '<div class="text-center m-l-2" style="flex: 1">';
                let item = data[i];
                item_html += '<div class="card" onclick="join_gain(' + i + ')">' +
                    '<div class="card-header bg-primary text-white text-center">' +
                    item.usdt_amount + ' USDT' +
                    '</div>' +
                    '<div class="card-body bg-warning text-center">' +
                    '<span class="font-16">' + item.player_amount_display + '</span>' +
                    '</div>' +
                    '</div>';
                $('#' + row_id).append(item_html);
            }
        });
    }

    function get_last_notice() {
        Business.get('/notices/last', {}, function (data) {
            if (data) {
                $('#span_note').html('<i class="la la-volume-up"></i> ' + data.title).parent().show();
            } else
                $('#span_note').parent().hide();
        });
    }

    function join_gain(index) {
        if (red_packets) {
            let game = red_packets[index];
            $('#span_join_game_usdt').text(game.usdt_amount);
            $('#span_join_game_players').text(game.player_amount);
            $('#modal_join_game').attr('game_id', game.id).modal('show');
        } else {
            swal('<%= t('errors.error') %>', '<%= t('errors.system_busy') %>', 'error');
        }
    }

    function show_joined_game(id) {
        $('#modal_joined_game').modal('show');
    }

    function choose_room_option() {
        $('#modal_room_option').modal('show');
    }

    function join_room() {
        $('#modal_room_option').modal('hide');
        $('#modal_join_room').modal('show');
    }

    function create_room() {
        $('#modal_room_option').modal('hide');
        $('#modal_create_room').modal('show');
    }

    function on_join_game() {
        let game_id = $('#modal_join_game').attr('game_id');
        let l = $('#btn_join_game').ladda();
        l.ladda('start');
        Business.post(
            '/games/join', {id: game_id, authenticity_token: '<%= form_authenticity_token %>'}, function () {
                l.ladda('stop');
                $('#modal_join_game').modal('hide');
            }, function (data) {
                l.ladda('stop');
                swal('<%= t('errors.error') %>', data.msg, 'error');
            }
        );
    }

    function load_red_packets_data() {
        get_my_info();
        get_last_notice();
        get_red_packets();
    }
</script>