<div class="row">
  <div class="col-12 text-center bg-primary" style="position: fixed;z-index: 200;">
    <span class="m-15 font-16 font-weight-bold"><%= t('dashboard.titles.settings') %></span>
  </div>
  <div class="col-12" style="height: 50px;"></div>
</div>
<br>
<div class="row m-t-15">
  <div class="col-3 font-15">ID:</div>
  <div class="col-9">
    <span id="settings_my_id" class="font-15">-</span>
    <button id="btn_exchange_account" type="button" class="btn btn-sm btn-soft-primary btn-rounded float-right ladda-button" data-style="zoom-in" onclick="exchange_account()">
      <i class="la la-exchange-alt"></i> <%= t('dashboard.index.exchange') %>
    </button>
  </div>
</div>
<div class="row font-15 m-t-15">
  <div class="col-3"><%= t('dashboard.index.role') %>:</div>
  <div class="col-9" id="settings_my_role">-</div>
</div>
<div class="row font-15 m-t-15">
  <div class="col-3"><%= t('dashboard.index.address') %>:</div>
  <div class="col-9" id="settings_my_address">-</div>
</div>

<br>
<div class="widget box box-shadow m-t-10">
  <ul class="list-group">
    <li class="list-group-item" onclick="location.href='/users/choose_lang'"><i class="las la-language"></i>
      <%= t('dashboard.index.language') %><span class="float-right"><i class="las la-angle-right"></i></span>
    </li>
    <li class="list-group-item"><i class="las la-file-alt"></i>
      <%= t('dashboard.index.system_helps') %><span class="float-right"><i class="las la-angle-right"></i></span>
    </li>
    <li class="list-group-item"><i class="las la-gift"></i>
      <%= t('dashboard.index.playing_rules') %><span class="float-right"><i class="las la-angle-right"></i></span>
    </li>
    <li class="list-group-item" onclick="location.href='/user_game_rounds/index'"><i class="las la-list"></i>
      <%= t('dashboard.index.playing_records') %><span class="float-right"><i class="las la-angle-right"></i></span>
    </li>
    <li class="list-group-item" onclick="location.href='/users/apply_agent'"><i class="las la-user-tag"></i>
      <%= t('dashboard.index.apply_agent') %><span class="float-right"><i class="las la-angle-right"></i></span>
    </li>
    <li class="list-group-item" onclick="location.href='/users/apply_vip'"><i class="las la-user-tag"></i>
      <%= t('dashboard.index.apply_vip') %><span class="float-right"><i class="las la-angle-right"></i></span>
    </li>
  </ul>
</div>

<script>
    function load_settings_data() {
        get_my_info(function (data) {
            $('#settings_my_id').text(data.invite_code);
            $('#settings_my_address').text(data.address);
            $('#settings_my_role').text(data.role_name);
        });
    }

    function exchange_account() {
        location.href = '/user_sessions/new';
    }
</script>