<div class="login-one-start">
  <h6 class="mt-2 text-primary text-center font-20"><%= t('common.plat_name') %></h6>
  <p class="text-center text-muted mt-3 mb-3 font-14"><%= t('.connecting_wallet') %></p>
  <div class="text-center"><img id="img_loading" src="/assets/img/connecting.png" style="width: 200px;"></div>
</div>
<script>
    $(function () {
        getWeb3().then(web3 => {
            web3.eth.getAccounts(function (err, result) {
                let address = result[0];
                Business.post(
                    '/user_sessions/create',
                    {address: address, authenticity_token: '<%= form_authenticity_token %>'},
                    function (result) {
                        self.location = '/dashboard/index';
                    }, function (err) {
                        swal('<%= t('errors.error') %>', err.msg, 'error');
                    }
                );
            });
        }).catch(function (result) {
            swal('<%= t('errors.error') %>', result, 'error');
        });
    });
</script>