<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <title><%= t('common.plat_name') %></title>
  <link rel="icon" type="image/x-icon" href="/xato/assets/img/favicon.ico"/>
  <!-- Common Styles Starts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="/xato/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="/xato/assets/css/main.css" rel="stylesheet" type="text/css"/>
  <link href="/xato/assets/css/structure.css" rel="stylesheet" type="text/css"/>
  <link href="/xato/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css"/>
  <link href="/xato/plugins/highlight/styles/monokai-sublime.css" rel="stylesheet" type="text/css"/>
  <!-- Common Styles Ends -->
  <!-- Common Icon Starts -->
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <!-- Common Icon Ends -->
  <!-- Page Level Plugin/Style Starts -->
  <link href="/xato/assets/css/loader.css" rel="stylesheet" type="text/css"/>
  <!-- Page Level Plugin/Style Ends -->
  <link rel="stylesheet" href="/color-admin/plugins/ladda/ladda-themeless.min.css"/>
  <script src="/xato/plugins/sweetalerts/promise-polyfill.js"></script>
  <link href="/xato/plugins/sweetalerts/sweetalert2.min.css" rel="stylesheet" type="text/css"/>
  <link href="/xato/plugins/sweetalerts/sweetalert.css" rel="stylesheet" type="text/css"/>
  <link href="/color-admin/css/transparent/mobile.css" rel="stylesheet" type="text/css"/>
  <link href="/xato/assets/css/basic-ui/tabs.css" rel="stylesheet" type="text/css"/>

  <!-- Common Script Starts -->
  <script src="/xato/assets/js/libs/jquery-3.1.1.min.js"></script>
  <script src="/color-admin/plugins/jquery.cookie.js"></script>
  <script src="/xato/bootstrap/js/popper.min.js"></script>
  <script src="/xato/bootstrap/js/bootstrap.min.js"></script>
  <script src="/xato/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <!--<script src="/xato/assets/js/app.js"></script>-->
  <script src="/xato/assets/js/custom.js"></script>
  <!-- Common Script Ends -->
  <!-- Page Level Plugin/Script Starts -->
  <script src="/xato/assets/js/loader.js"></script>
  <!-- Page Level Plugin/Script Ends -->
  <script src="/assets/js/web3.min.js"></script>
  <script src="/assets/js/getWeb3.js"></script>
  <script src="/color-admin/js/business.js"></script>
  <script src="/color-admin/plugins/ladda/spin.min.js"></script>
  <script src="/color-admin/plugins/ladda/ladda.min.js"></script>
  <script src="/color-admin/plugins/ladda/ladda.jquery.min.js"></script>
  <script src="/xato/plugins/sweetalerts/sweetalert2.min.js"></script>
  <script src="/xato/assets/js/basicui/sweet_alerts.js"></script>
  <script src="/xato/assets/js/app.js"></script>
  <script src="/assets/js/contracts.js"></script>
  <script src="/assets/js/action_cable.js"></script>
  <script>
      let web3, address, contract_usdt, contract_cic, contract_game, load_data, my_info;

      function set_top_btn(icon, callback) {
          $('#span_top_right_btn').html(icon).show().click(function () {
              callback();
          });
      }

      $(function () {
          getWeb3().then(res => {
              web3 = res;
              contract_usdt = new web3.eth.Contract(Contracts.usdt.abi, Contracts.usdt.address);
              contract_cic = new web3.eth.Contract(Contracts.cic.abi, Contracts.cic.address);
              contract_game = new web3.eth.Contract(Contracts.game.abi, Contracts.game.address);
              web3.eth.getAccounts(function (err, result) {
                  address = result[0];
                  $.cookie('user_token', address, {path: '/'});
                  if (load_data)
                      load_data();
              });
          }).catch(function (result) {
              console.log(result);
              swal('<%= t('errors.error') %>', result, 'error');
          });
      });
  </script>
</head>
<body>
<!-- Loader Starts -->
<div id="load_screen">
  <div class="boxes">
    <div class="box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <p class="xato-loader-heading"><%= t('common.plat_name') %></p>
</div>
<!--  Loader Ends -->
<!--  Main Container Starts  -->
<div class="main-container" id="container">
  <!--  Content Area Starts  -->
  <div id="content" class="container">
    <div class="row">
      <div class="col-12 bg-primary" style="position: fixed;z-index: 200;">
        <span class="font-25 align-middle"><i class="las la-arrow-left" onclick="history.back();"></i></span>
        <span class="m-15 font-16 font-weight-bold"><%= @title %></span>
        <span class="float-right font-25 m-t-6 text-right" style="width: 60px; display: none" id="span_top_right_btn"></span>
      </div>
      <div class="col-12 height-50"></div>
    </div>
    <!-- Main Body Starts -->
    <%= yield %>
    <!-- Main Body Ends -->
  </div>
  <!--  Content Area Ends  -->
</div>
<!-- Main Container Ends -->
</body>
</html>